<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
  
  <h1>{{title}}</h1>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
  </ul>
  
  <form action="" method="post">
    
    <input placeholder="Name" id="name" type="text" name="name" autofocus>
    
    <br/>
    <input placeholder="Email" id="email" type="email" name="email">
     
    <br/> 
    <textarea name="message", id="message", rows="7" placeholder="Drop me a line :)"></textarea>

    <br/>
    <button type="submit">Send</button>
  </form>

</body>
</html>